.button-wrapper-main {
    text-align: justify;
    padding-left: 340px;
    padding-right: 340px;
    padding-bottom: 50px;
    margin: 0;
}

.button-wrapper-emp {
    text-align: center;
    padding-bottom: 50px;
    margin: 0;
}

.button-wrapper-modify {
    text-align: center;
    padding-bottom: 50px;
    padding-right: 5%;
    margin: 0;
}

.button-wrapper-inline {
    text-align: justify;
    padding-left: 33%;
    padding-bottom: 50px;
    display: inline-block;
}

.button-wrapper-block {
    text-align: justify;
    padding-left: 35%;
    padding-bottom: 50px;
    display: block;
}

.button-wrapper-center {
    text-align: justify;
    padding-left: 40%;
    padding-bottom: 50px;
    display: block;
}

.custom-p {
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

h1 {
    background-color: #2eb827ea;
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 10px;
}

.h3-custom {
    text-align: center;
    padding-top: 10px;
}

html, body {
    background-color: #f0d569cb;
    color: rgb(51, 51, 51);
}

.info-background-green {
    background-color: #2eb827ea;
    width: 100vw 0;
    font-size: calc(9px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    padding-bottom: 40px;
}

.info-background-nude {
    background-color: #f0d569cb;
    width: 100vw 0;
    font-size: calc(9px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    padding-bottom: 40px;
}

.info-background-transparent {
    background-color: #ffffff00;
    width: 100vw 0;
    text-align: center;
    font-size: calc(9px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    padding-bottom: 40px;
}

input {
    background-color: #b3d3f3
}

.large {
    text-align: center;
    font-size: xx-large;
    background-color: #2eb827ea;
    color: white;
    font-size: calc(24px + 1vw);
    line-height: calc(5.1em + 0.5vw);
    width: 100vw;
}