.graph-svg-component {
    background-color: transparent;
    stroke: none;
    stroke-opacity: none;
}

rect {
    fill: none;
    stroke: silver;
    height: 40px;
    stroke-width: 2;
}


.info-background-transparent {
    background-color: #ffffff00;
    width: 1vw 0;
    text-align: justify;
    font-size: calc(9px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    padding-bottom: 40px;
}

path {
    fill: none;
    stroke: silver;
    stroke-width: 2;
}

text {
    text-anchor: middle;
}

.bigger {
    font-size: 20px;
}

.smaller {
    font-size: 17px;
}

.hide {
    visibility: hidden;
}
